@model K9.Base.WebApplication.ViewModels.LinkViewModel

<div class="picture-frame picture-frame-400">
    <a target="_blank" href="@Model.Url">
        <div class="link-image-preview" data-url="@Model.Url">
        </div>
    </a>
</div>