@using K9.Base.WebApplication.Config
<div id="main-header">
    <div id="flowers-background">
        <img class="rellax butterfly butterfly-one" data-rellax-speed="1" src="~/Images/header/butterfly1.png" />
        <img class="rellax butterfly butterfly-two" data-rellax-speed="2" src="~/Images/header/butterfly2.png" />
        <img class="rellax butterfly butterfly-three" data-rellax-speed="3" src="~/Images/header/butterfly3.png" />
        <img class="rellax butterfly butterfly-four" data-rellax-speed="2" src="~/Images/header/butterfly4.png" />
    </div>
    <div class="main-header-text">
        @WebsiteConfiguration.Instance.CompanyName
    </div>
    <div class="main-header-text header-small">
        Coming Soon...
    </div>
</div>