<div class="margin-top-10 margin-bottom-5">
    @K9.Globalisation.Dictionary.PhotographyBy <a target="_blank" href="https://www.facebook.com/BlurbBooks">@K9.Globalisation.Dictionary.LaurentSazy</a>
</div>