@{
    ViewBag.Title = K9.Globalisation.Dictionary.Projects;
}

@Html.Partial("_SponsorIbogaBanner")
<div id="main-banner" class="banner-default main-menu">
    @Html.Partial("_Navbar")
</div>
@Html.Partial("_Projects")
@Html.Partial("_TreeCounterBanner")