<div class="jarallax background-bwiti">
    <div class="main-section">
        <div class="main-heading">
            <h3 class="text-white">@Dictionary.GetInTouchTitle</h3>
        </div>
        <div class="container-fluid">
            <div class="page shadow alphaBackground roundCorners small-form">
                @Html.Partial("_ContactUs")
            </div>
        </div>
    </div>
</div>