<div class="contact-us">
    <div class="main-section">
        <div class="main-heading">
            <h3>SUSBSCRIBE</h3>
        </div>
        <div class="container-fluid">
            @
        </div>
    </div>
</div>