<div id="events" class="main-section events jarallax">
    <div class="main-heading">
        <h3 class="text-white">OUR EVENTS</h3>
    </div>
    <div class="container">
        <div>
            <h1 class="events-description-text">
                Radiance Events design and produce events that are magical, beautiful and reflect your own unique personality - whether that is for a personal celebration or gathering, an album launch, or as a workshop to promote and share your business. Our Events are lovingly and beautifully designed to create a shared experience which will enhance your day, open your heart and leave you feeling uplifted, connected, alive and full of joy.
            </h1>
            <h1 class="events-description-text">
                Radiance Events support small business owners in creating beautiful, meaningful and heart-felt spaces to connect with their family and friends at private events or to reach out to new clients and customers through workshops, retreats and product, album and book launches. Our events capture your most unique and empowered essence and help you to connect with clients in new and more meaningful ways. We will help you build beautiful, authentic spaces to share your own heart-felt services with your clients (and the world) and to introduce what you do to sponsors who are aligned with your values.
            </h1>
            <h1 class="events-description-text">
                Radiance Events can either produce your event for you or coach you to it yourself.
            </h1>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>