<div class="main-section our-partners">
    <div class="container">
        <div class="main-heading">
            <h3>@Dictionary.OurPartners</h3>
        </div>
        <div>
            <div class="col-md-4 col-sm-6 scrollFadeUp">
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="~/Images/partners/gabon-ministere.jpg" alt="MINISTÈRE DE LA FORET, DE LA MER ET DE L’ENVIRONNEMENT">
                    </div>
                    <div class="info">
                        <h3>
                            Ministère de l’Environnement
                        </h3>
                        <div class="circle-icons circle-icons-2">
                            <ul>
                                <li><a target="_blank" href="http://www.eaux-forets.gouv.ga/ecrire.twg"><i class="fa fa-pencil-square-o"></i></a></li>
                                <li><a target="_blank" href="http://www.eaux-forets.gouv.ga/"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 scrollFadeUp">
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="~/Images/partners/plant-consciousness.jpg" alt="Plant Consciousness">
                    </div>
                    <div class="info">
                        <h3>
                            Plant Consciousness
                        </h3>
                        <div class="circle-icons">
                            <ul>
                                <li><a target="_blank" href="http://www.facebook.com/plantconsciousness"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="http://www.twitter.com/plantconscious"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="http://www.plantconsciousness.com/"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 scrollFadeUp">
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="~/Images/partners/iceers.jpg" alt="Iceers">
                    </div>
                    <div class="info">
                        <h3>
                            Iceers
                        </h3>
                        <div class="circle-icons">
                            <ul>
                                <li><a target="_blank" href="http://www.facebook.com/ICEERS"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="http://www.twitter.com/NGO_ICEERS"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="http://www.iceers.org/"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 scrollFadeUp">
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="~/Images/partners/ebando.jpg" alt="Ebando">
                    </div>
                    <div class="info">
                        <h3>
                            Ebando
                        </h3>
                        <div class="circle-icons">
                            <ul>
                                <li><a target="_blank" href="http://www.facebook.com/hugues.o.poitevin"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="http://www.ebando.org/"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 scrollFadeUp">
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="~/Images/partners/parc-gabon.jpg" alt="Parcs Gabon">
                    </div>
                    <div class="info">
                        <h3>
                            Parcs Gabon
                        </h3>
                        <div class="circle-icons">
                            <ul>
                                @*<li><a  target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a  target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a  target="_blank" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 scrollFadeUp">
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="~/Images/partners/bokaye.jpg" alt="Laurent Sazy">
                    </div>
                    <div class="info">
                        <h3>
                            Laurent Sazy
                        </h3>
                        <div class="circle-icons">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/BlurbBooks"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://www.twitter.com/blurbbooks"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="http://www.blurb.fr/b/6936816-bokay"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>