@{
    ViewBag.Title = Dictionary.Home;
}
<div id="main-banner" class="main-menu">
    @Html.Partial("_Navbar")
</div>
@Html.Partial("_MainHeader")
@Html.Partial("_Services")
@Html.Partial("_Events")
@*@Html.Partial("_Contact")*@