<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html
    {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
        font-size: 100%;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0; 
        color: #333;
    }
</style>

<body>
<p class="text">Cher Madame, Monsieur</p>
<p class="text">Nous vous remercions d'avoir parrainé {NumberOfTrees} Iboga(s)</p>
<p class="text">Votre soutien est grandement apprécié</p>
<p class="text">Bien cordialement,</p>
<p class="text">Blessings Of The Forest</p>
<img alt="{Company}" src="{ImageUrl}" />
</body>

</html>