<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: 100%;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0;
        color: #333;
    }
</style>

<body>
    <p class="text">Dear {CustomerName},</p>
    <p class="text">Thank you very much for your kind donation of {Amount} {Currency}</p>
    <p class="text">Your support is invaluable to us.</p>
    <p class="text">Warmest regards,</p>
    <p class="text">Blessings Of The Forest</p>
    <img alt="{Company}" src="{ImageUrl}" />
</body>

</html>