.events {
    background-image: url('../../../Images/aboutus/background.jpg')
}

    .events .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: transparent;
        background-color: rgba(1, 1, 1, 0.3);
    }

.events-description-text {
    font-size: 1.4em;
    line-height: 1.4em;
    color: white;
    z-index: 10;
}
