@using System.Globalization
@using K9.Base.WebApplication.Constants.Html
@using K9.SharedLibrary.Helpers
@model Object
@{
    var dictionary = ViewData["viewDataDictionary"] as IDictionary<string, object>;
    var cultureInfo = dictionary[Attributes.CultureInfo];
    var currencySymbol = cultureInfo == null
        ? new RegionInfo(System.Threading.Thread.CurrentThread.CurrentUICulture.LCID).CurrencySymbol
        : new RegionInfo((cultureInfo as CultureInfo).LCID).CurrencySymbol;
}

<div class="input-group">
    <span class="input-group-addon">@currencySymbol</span>
    @Html.TextBoxFor(model => model, dictionary)
</div>